
<div class="container text-center">
<h1>About Page</h1>

<p>
    We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entreprenuers to meet. 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia suscipit aliquid corporis dignissimos. Obcaecati, praesentium porro nisi tempora eveniet. Molestiae, totam exercitationem tempore fugit corrupti illum amet tenetur beatae cum.
</p>
</div>